.customer-service .card{
    border: 0;
    border-radius:10px;
    height: 90%;
}
.customer-service .card-header{
    border: 0;
    background-color: transparent;
}
.status{
    height: 30px;
    width:80px;
    border-radius: 5px;
}